@model IEnumerable<WebApplication4.Models.Order>


    @{
        ViewBag.Title = "Index";
    }

    <h2>Ваши заказы</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_wish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp_of_delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_withdrawal_of_adertising_turnover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_advertising.Id_category_advertising)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_wish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Date).ToString().Substring(0, 10)

            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Temp_of_delivery)

            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Date_of_withdrawal_of_adertising_turnover)

            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.Id_category_advertising)

            </td>
            <td>
                @if (item.Status == "Черновик")
        {
            @Html.ActionLink("Отправить", "Send", "Order", new { id = item.Id_order }, htmlAttributes: new { title = "Отправка заказа" })
        }
            </td>
            <td>
                @if (item.Status == "Черновик")
        {
            @Html.ActionLink("Изменить", "Edit", "Order", new { id = item.Id_order }, htmlAttributes: new { title = "Изменение заказа" })
        }
            </td>
            <td>
                @if (item.Status == "Черновик")
        {
            @Html.ActionLink("Удалить", "Delete", "Order", new { id = item.Id_order }, htmlAttributes: new { title = "Удаление заказа" })
}
            </td>
        </tr>
            
        }
    </table>
